<section>
    <header>
        <h1>PD</h1>
        <div class="copyright-div">
            <p> © Paul Dietrich 2025</p>
            <div class="legal-div" ><a class="legal-link" [routerLink]="['/projects/privacy']">Legal Notice</a></div>
        </div>
    </header>
    <footer>
       <div class="footer-div">
  <img src="assets/svg/Github.svg" class="icon" id="icon-github" />
  <a class="footer-a" (click)="triggerFooterIconAnimation('github')">GitHub</a>
</div>

<div class="footer-div">
  <img src="assets/svg/Linkedin.svg" class="icon" id="icon-linkedin" />
  <a class="footer-a" (click)="triggerFooterIconAnimation('linkedin')">Linkedin</a>
</div>

<div class="footer-div">
  <img src="assets/svg/Mail.svg" class="icon" id="icon-email" />
  <a class="footer-a" (click)="triggerFooterIconAnimation('email')">Email</a>
</div>

      </footer>      
</section>
