<section>
   <header>
    <img class="float-up-down" src="/assets/png/laptop-join.png" alt="laptop">
    <div class="sticker-img"><img class="en-language" src="/assets/svg/projects-sticker.svg"><img class="de-language" src="/assets/png/project-sticker-de.png"></div>
    <button class="hover-button" [routerLink]="['/projects/join']">Projects details</button>
   </header> 
   <main class="en-language">
<h1>Join</h1>
<p>
    Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories. 
    Project details
</p>
<div class="button-div">
    <button [routerLink]="['/projects/join']">Projects details</button>
  </div>
   </main>
   <main class="de-language">
    <h1>Join</h1>
    <p>
        Task-Manager inspiriert vom Kanban-System. Erstelle und organisiere Aufgaben per Drag-and-Drop, weise Benutzer und Kategorien zu.
    </p>
    <div class="button-div">
        <button [routerLink]="['/projects/join']">Projektdetails</button>
      </div>
      
       </main>
</section>
