<section>
    <main>
    <div class="up-div">
    <header>
        <h2 class="en-language">MY CRAFT</h2>
        <h1 class="en-language">Projects</h1>
        <h2 class="de-language">MEIN HANDWERK</h2>
        <h1 class="de-language">Projekte</h1>
        <img class="zigzag-line" src="/assets/svg/zigzag-line.svg">
        <p class="en-language">Please explore my projects I aimed to build them with clean, efficient code and a clear focus on responsive, user-friendly design.
            Try them out yourself and decide whether my approach offers a solid foundation for future collaboration and improvement.</p>
        <p class="de-language">Bitte wirf einen Blick auf meine Projekte. Ich habe angestrebt, sie mit sauberem, effizientem Code und einem klaren Fokus auf responsives, benutzerfreundliches Design zu entwickeln.
            Probiere sie gerne selbst aus und entscheide, ob meine Herangehensweise eine solide Grundlage für zukünftige Zusammenarbeit und Weiterentwicklung bietet.</p>
    </header>
        <div id="join" class="join"><app-join></app-join></div>
    </div>
    <div class="down-div">
        <div id="polloLoco" class="polloLoco"><app-polloLoco></app-polloLoco></div>
        <div id="pokedex" class="pokedex"><app-pokedex></app-pokedex></div>
    </div>
    </main>
</section>