<section>
    <header>
       <img class="float-up-down" src="/assets/png/laptop-poke.png" alt="laptop">
        <button class="hover-button"  [routerLink]="['/pokedex']">Projects details</button>  
    </header> 
    <main class="en-language">
 <h1>Pokédex</h1>
 <p>
    Interactive Pokémon encyclopedia, browse the Pokémon world by type, name, or ID. Built on an external API with dynamic display and detailed views for each Pokémon.
 </p>
 <div class="button-div"><button [routerLink]="['/pokedex']">Projects details</button></div>
    </main>
    <main class="de-language">
     <h1>Pokédex</h1>
     <p>
        Interaktives Nachschlagewerk für Pokémon, durchsuche die Welt der Pokémon nach Typ, Name oder ID. Basierend auf einer externen API, mit dynamischer Anzeige und Detailansicht zu jedem Pokémon.
     </p>
     <div class="button-div"><button [routerLink]="['/pokedex']">Projektdetails</button></div>
        </main>
 </section>
 

