section {
  width: 100%;
  height: auto;
  padding-inline: clamp(0.75rem, 3.5vw, 2rem);  
}

.waving-hand {
  position: absolute;
  left: 0;
  pointer-events: none;
}

.world-greetig-div {
  display: flex;
  flex-direction: column;
  height: 80px;
  margin-bottom: 8px;
}

.world-greetig {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 145px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid rgba(248, 249, 250, 1);
  border-radius: 100px;
  font-size: 18px;
  font-weight: 500;
}

.introduced-person-div {
  position: relative;
  height: 40px;
  cursor: default;
}

.introduced-person-div img {
  position: absolute;
  left: 0;
  height: 32px;
}

.introduced-person {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid rgba(248, 249, 250, 1);
  border-radius: 100px;
  background-color: rgba(51, 85, 255, 1);
  font-size: 18px;
  font-weight: 500;
  animation: extendFromLeft 0.9s ease forwards;
}

.hidden {
  display: none;
}

.animate-rotation {
  animation: rotateOnce 0.6s ease-in-out;
}

p {
  animation: slideTextIn 0.8s ease forwards;
  animation-delay: 0.1s;
  opacity: 0;
  transform: translateX(-30px);
}

.title-div { 
  margin-top: 30px;
}

h1 {
  font-size:clamp(3.125rem, 1.408rem + 7.324vw, 8rem);
  font-weight: 700;
  margin: 0;
}

.letter-big,
.letter {
  display: inline-block;
  width: fit-content;
  line-height: 1;
  color: rgba(248, 249, 250, 1);
  cursor: default;

  &:hover {
    color: rgba(247, 197, 24, 1);
  }
}

.letter-big:hover {
  text-transform: lowercase;
}

.letter:hover {
  text-transform: uppercase;
}

.touch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 156px;
  height: 40px;
  margin-left: 48%;
  border: 1px solid rgba(248, 249, 250, 1);
  border-radius: 100px;
  box-shadow: 2px 4px 0 0 rgba(248, 249, 250, 1);
  font-size: 18px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
    background-color: rgba(248, 122, 85, 1);
  }

  &:active {
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-color: rgba(248, 122, 85, 1);
    transform: translate(2px, 4px);
    transition: transform 0.3s ease, background-color 0.2s ease, box-shadow 0.3s ease;
  }
}

.polaroid-frame {
  position: relative;
  width: 203px;
  height: 244px;
  margin-top: 50px;
  margin-left: 20%;
  background-image: url('/assets/png/foto-container.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(10deg);
}

.polaroid-photo {
  position: absolute;
  top: 7%;
  left: 8%;
  width: 84%;
  height: 70%;
  object-fit: cover;
  filter: grayscale(100%) brightness(1.2);
  transition: filter 0.3s ease;

   &.color-active {
    filter: grayscale(0%) brightness(1.2);
  }
}

@keyframes rotateOnce {
  from {
    transform: rotate(-80deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes extendFromLeft {
  0% {
    width: 145px;
    background-color: rgb(0, 1, 7);
    color: rgba(248, 249, 250, 1);
  }
  40% {
    background-color: rgb(2, 16, 84);
    color: transparent;
  }
  100% {
    width: 238px;
    background-color: rgba(51, 85, 255, 1);
    color: rgba(248, 249, 250, 1);
  }
}

@keyframes slideTextIn {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 374px) {

  h1 {
    font-size: clamp(2.5rem, 1rem + 7.5vw, 7.75rem);
  }

   section {
    display: flex;
    justify-content: center;
  }

  .title-div {
    width: 100%;
    margin-top: 2vh;
    margin-left: 0 !important;
    margin-right: 0!important;
  }

.polaroid-frame {
  margin-top: 3vh;
  width: 180px;
  margin-left: 18%;
}

.polaroid-photo {
  position: absolute;
  top: 5%;
  left: 3%;
  width: 94%;
  height: 71%;
}


.touch-button {
  margin-left: 35%;
  font-size: 18px;
  font-weight: 400;
}

}

@media (max-width: 500px) {
  .title-div {
    margin-top: 5vh;
  }
}

@media (min-width: 800px) {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-width: 1440px;
  }

  .title-div {
    position: relative;
    margin-top: 130px;
    margin-left: clamp(0rem, -8.491rem + 9.434vw, 6.25rem);
  }

  .world-greetig-div {
    width: 100%;
    display: flex;
    justify-content: start;
  }

  .introduced-person-div img,
  .waving-hand {
    position: absolute;
    left: 0;
    height: 32px;
    opacity: 0;
    visibility: hidden;
  }

  .animate-rolling {
    animation: rollToPerson 0.8s ease-out forwards;
  }

  @keyframes rollToPerson {
    0% {
      transform: translateX(120px) rotate(180deg);
      opacity: 0;
      visibility: hidden;
    }
    10% {
      opacity: 1;
      visibility: visible;
    }
    100% {
      transform: translateX(200px) rotate(360deg);
      opacity: 1;
      visibility: visible;
    }
  }

  .polaroid-frame {
    position: absolute;
    top: -2px;
    left: clamp(23.75rem, 6.511rem + 35.821vw, 38.75rem);
    margin-top: -40px;
    margin-left: 0;
  }

  .title-developer {
    margin-left: clamp(0.625rem, -9.431rem + 20.896vw, 9.375rem);
  }

  .touch-button-div {
    width: 100%;
    display: flex;
    justify-content: right;
  }
}
