<section>
    <div class="flags-div">
        <div class="flags">
        <img class="en-language" src="/assets/png/locationFlags.png">
        <img class="de-language" src="/assets/png/locationFlagsDe.png">
    </div>
    </div>
    <div class="text-div">
    <header>
        <span class="en-language">WHO'S PAUL?</span>
        <span class="de-language">WER IST PAUL?</span>
        <h1 class="en-language">About me</h1>
        <h1 class="de-language">Über mich</h1>
        <img class="blue-line" src="/assets/svg/blue-line.svg">
    </header>
        <div class="en-language">
            <p>
            Hey there, I’m Paul. I like coding because it allows me to build things with my own hands, even if they’re digital. I started by combining software with hardware, and quickly realized how fascinated I am by the endless creative possibilities that code offers.
            Every challenge is a chance to learn, refine, and find smarter solutions. I enjoy crafting elegant logic as much as I enjoy seeing something come to life from scratch.
            <br><br>
            Let’s connect and create something truly unique together.
        </p><br><br><br>
        <div class="button-div"><button (click)="scrollTo('contact')">Let’s talk</button></div> 
        </div>
        <div class="de-language">
            Hey, ich bin Paul. Ich mag Coden, weil ich damit Dinge mit meinen eigenen Händen erschaffen kann, auch wenn sie digital sind. Angefangen habe ich mit der Kombination aus Software und Hardware, und dabei schnell gemerkt, wie sehr mich die unendlichen kreativen Möglichkeiten des Programmierens faszinieren.
            Jede Herausforderung ist für mich eine Chance zu lernen, zu verbessern und elegantere Lösungen zu finden. Ich genieße es, durchdachte Logik zu bauen – genauso wie zu sehen, wie etwas von Grund auf zum Leben erwacht.
            <br><br>
            Lass uns vernetzen und gemeinsam etwas wirklich Einzigartiges schaffen.
            <br><br>
        <div class="button-div"><button (click)="scrollTo('contact')">Lass uns reden</button> </div>   
        </div>
    </div>
</section>
