<section>
    <header>
     <img class="float-up-down" src="/assets/png/laptop-pollo.png">
     <button class="hover-button" [routerLink]="['/polloLoco']">Projects details</button>
    </header> 
    <main class="en-language">
 <h1>El Pollo Loco</h1>
 <p>
    Jump, run and throw game based on object-oriented approach. Help Pepe to find coins and tabasco salsa to fight against the crazy hen.
 </p>
 <div class="button-div"><button [routerLink]="['/polloLoco']">Projects details</button></div>
    </main>
    <main class="de-language">
     <h1>El Pollo Loco</h1>
     <p>
        Jump'n'Run- und Wurfspiel basierend auf objektorientierter Programmierung. Hilf Pepe, Münzen und Tabasco-Soße zu finden, um gegen das verrückte Huhn zu kämpfen.
     </p>
     <div class="button-div"><button [routerLink]="['/polloLoco']">Projektdetails</button></div>
        </main>
 </section>
 
