section {
    width: 100%;
    background-image: url('/assets/png/backround-mobile.webp');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 850px;
    font-family: 'Bricolage Grotesque';
    color: rgba(248, 249, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        width: 100%;
      }
  }

  @media (max-width: 374px) {
    section {
    width: 100%;
    background-image: url('/assets/png/backround-mobile.webp');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 680px;
    
  }
}

  @media (min-width: 800px) {
    section{
      width: 100%;
      min-height: 900px;
      background-image: url('/assets/png/Hb-menu-backround.webp');
      div{
        width: 100%;
        max-width: 1440px;
      }
    }
  }



  
 
  