<section>
  <main>
    <div class="up-div">
      <div class="en-language">
        <h2>CONTACT ME</h2>
        <h1>Ready to work together?</h1>
        <p>
          I'm looking forward to new opportunities in frontend development where I can contribute through teamwork, curiosity, and a strong willingness to learn. I enjoy writing clean, maintainable code and value collaboration as a way to grow and support shared goals within a project.
        </p>
      </div>

      <div class="de-language">
        <h2>KONTAKTIERE MICH</h2>
        <h1>Bereit, etwas gemeinsam zu starten?</h1>
        <p>
          Ich freue mich auf neue Möglichkeiten im Frontend Bereich, bei denen ich durch Teamarbeit, Neugier und eine ausgeprägte Lernbereitschaft beitragen kann. Sauberen, wartbaren Code zu schreiben bereitet mir Freude, und ich schätze Zusammenarbeit als Weg, gemeinsam zu wachsen und gemeinsame Ziele im Projekt zu erreichen.
        </p>
      </div>
    </div>

    <div class="down-div">
      <div class="contact-form" #contactFormWrapper>

        <div class="en-language">
          <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

            <label>What's your name?
              <input
                [class.error]="invalidName"
                #nameRef
                type="text"
                name="name"
                [(ngModel)]="contactData.name"
                [attr.placeholder]="invalidName ? 'Oops! Your name is missing' : 'Your name goes here'"
                required
                autocomplete="on"
              />
            </label>
            <div class="divider-yellow"></div>

            <label>What's your email?
              <input
                [class.error]="invalidEmail"
                #emailRef
                type="email"
                name="email"
                [(ngModel)]="contactData.email"
                [attr.placeholder]="invalidEmail ? 'Hoppla! Your valid email is required' : 'youremail@email.com'"
                required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                autocomplete="on"
              />
            </label>
            <div class="divider-yellow"></div>

            <label>How can I help you?
              <textarea
                [class.error]="invalidMessage"
                #messageRef
                name="message"
                [(ngModel)]="contactData.message"
                [attr.placeholder]="invalidMessage ? 'What do you need to develop?' : 'Hello Paul, I am interested...'"
                minlength="2"
                required
                autocomplete="on"
              ></textarea>
            </label>
            <div class="divider-yellow"></div>

            <label class="check-box-label">
              <input
                type="checkbox"
                class="custom-checkbox"
                id="customCheckbox"
                #checkboxRefEn
                (change)="onCheckboxChange(checkboxRefEn.checked)"
              />
              <span>
                I've read the
                <a class="privacy-link" [routerLink]="['/privacy']">privacy policy</a>
                and agree to the processing of my data as outlined.
                <p id="forgetBox" class="forget-box">Please accept the privacy policy.</p>
              </span>
            </label>

            <div class="sent-msg">
              Message sent <img src="/assets/svg/Mail.svg" />
            </div>

            <div class="form-button-div" (click)="handleInvalidClick(contactForm, checkboxRefEn.checked)">
              <img
                class="zigzag-arrow"
                src="/assets/svg/arrow-zig-zag.svg"
                [class.animate-arrow]="contactForm.valid && checkboxRefEn.checked"
              />
              <button type="submit" [disabled]="!contactForm.valid || !checkboxRefEn.checked">Send</button>
            </div>

          </form>
        </div>

        <div class="de-language">
          <form #formDe="ngForm" (ngSubmit)="onSubmit(formDe)">

            <label>Wie heißt du?
              <input
                [class.error]="invalidName"
                #nameRefDe
                type="text"
                name="name"
                [(ngModel)]="contactData.name"
                [attr.placeholder]="invalidName ? 'Ups! Dein Name fehlt' : 'Dein Name hier'"
                required
                autocomplete="on"
              />
            </label>
            <div class="divider-yellow"></div>

            <label>Deine E-Mail-Adresse?
              <input
                [class.error]="invalidEmail"
                #emailRefDe
                type="email"
                name="email"
                [(ngModel)]="contactData.email"
                [attr.placeholder]="invalidEmail ? 'Hoppla! Deine gültige E-Mail ist erforderlich' : 'deine@email.de'"
                required
                pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                autocomplete="on"
              />
            </label>
            <div class="divider-yellow"></div>

            <label>Wie kann ich dir helfen?
              <textarea
                [class.error]="invalidMessage"
                #messageRefDe
                name="message"
                [(ngModel)]="contactData.message"
                [attr.placeholder]="invalidMessage ? 'Worum geht’s genau?' : 'Hallo Paul, mich interessiert...'"
                minlength="2"
                required
                autocomplete="on"
              ></textarea>
            </label>
            <div class="divider-yellow"></div>

            <label class="check-box-label">
              <input
                type="checkbox"
                class="custom-checkbox"
                id="customCheckboxDe"
                #checkboxRefDe
                (change)="onCheckboxChange(checkboxRefDe.checked)"
              />
              <span>
                Ich habe die
                <a class="privacy-link" [routerLink]="['/privacy']">Datenschutzerklärung</a>
                gelesen und stimme der Verarbeitung meiner Daten zu.
                <p id="forgetBoxDe" class="forget-box">Bitte akzeptiere die Datenschutzerklärung.</p>
              </span>
            </label>

            <div class="sent-msg-de">
              Ok gesendet <img src="/assets/svg/Mail.svg" />
            </div>

            <div class="form-button-div" (click)="handleInvalidClick(formDe, checkboxRefDe.checked)">
              <img
                class="zigzag-arrow"
                src="/assets/svg/arrow-zig-zag.svg"
                [class.animate-arrow]="formDe.valid && checkboxRefDe.checked"
              />
              <button type="submit" [disabled]="!formDe.valid || !checkboxRefDe.checked">Senden</button>
            </div>

          </form>
        </div>

      </div>
    </div>
  </main>

  <footer>
    <app-footer></app-footer>
  </footer>
</section>
